{% extends 'base.html.twig' %}

{% block section %}
<section>
<div id='returnHome'>
<a href="{{ path('homepage') }}">
<img src="{{ asset('image/sprint.png') }}" alt="home" /></a>
</div>
 <div id='logger' class='col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-5' >


<h1 id='createTitle'>Create a Sprint</h1>

<div class='col-md-offset-2'> 
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div>
</div>
</section>
{% endblock %}