{# {% extends 'base.html.twig' %}#}
{# {% block navigation %}#}


{# <a href="{{ path('homepage') }}">#}
{# <img src="{{ asset('image/sprint.png') }}" alt="Sprint" />#}
{# </a>#}

{# {% if global_access %}#}
{#  <a href="{{ path('left') }}">Sign Out</a> #}
{#  {% else  %}#}
 
{#  <a href="{{ path('auth') }}">Sign In</a>#}
{#  <a href="{{ path('join') }}">Sign Up</a>#}
{#   {% endif  %}#}
  
  
{# {% endblock %}#}

{# {% block stylesheets %}#}

{# {% endblock %}#}
